name: pre-commit

on:
  pull_request:
  push:
    branches: [master]

permissions: read-all

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
    - name: Checkout repo
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Set up python
      uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
      with:
        python-version: '3.12'

    - name: Set up pip packages
      uses: BSFishy/pip-action@8f2d471d809dc20b6ada98c91910b6ae6243f318 # v1
      with:
        packages: |
          codespell
          pylint

    - name: Set up clang-format
      run: |
        sudo apt-get install -y clang-format-14
        sudo unlink /usr/bin/clang-format
        sudo ln -s /usr/bin/clang-format-14 /usr/bin/clang-format
        clang-format --version

    - name: Run pre-commit checks
      uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
